<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills. Python is one of the
  best first programming languages to learn because new practitioners
  can quickly learn the skills necessary to perform
  highly useful tasks such as data processing, analysis, and plotting.
  For this reason among others, Python one of the most commonly used
  programming languages among data scientists as seen in the following figure.
</p>

<p align="center">
  <img src="/files/kaggle-survey-2019/data_science_languages.png" width="60%" height="60%" 
  alt="Over 50% of data scientists surveyed in the 2019 Kaggle Machine Learning and Data Science survey regularly use Python." 
  title="Over 50% of data scientists surveyed in the 2019 Kaggle Machine Learning and Data Science survey regularly use Python." />
</p>

<p>
  Bash and Git are two other essential components of most data scientist toolkits.
  Bash is a general purpose tool that makes it easy to manipulate the files on your
  computer by enabling you to reorganize, split, or combine files, or run the same
  operation on many files.
  <!-- For example, with Bash it is simple to automate running a Python program on many different files, or to combine many files across many folders into a single large file. -->
  Git is the most popular version-control software and the saviour of many theses
  and research projects. It enables you to save snapshots of a project at different points in time, backup the project in case of
  a computer failure, and even collaborate on the project with other researchers.
</p>

<p>
  The instructors seek to provide all participants with a fun and accessible learning environment.
  Participants will be encouraged to help one another and to apply what they have learned to their own research problems.
  These workshops are sponsored by a WHOI Academic Programs Doherty Award.
</p>

<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
